# JVM CRASHES
core.*
hs_err_pid*

# INTELLIJ
.idea/
*.iml
*.ipr
*.iws
out/

# ECLIPSE
.classpath
.project
.settings/

# NETBEANS
nbproject/
nbactions.xml

# GRADLE
!gradle-wrapper.jar
.gradle/
build/
*/build/

# MAVEN
build.xml
log/
target/
dependency-reduced-pom.xml

# BUILD FILES
build/
bin/
dist/
manifest.mf

# MAC
.DS_Store/
.DS_Store

# VIM
.*.sw[a-p]

# LINUX TEMP
*~

# OTHER STUFF
run/

build-data/
0xSERVER-API
0xSERVER-MojangAPI
0xSERVER-Server
*.jar
